<div class="pure-u-1">

<h1><%= @branch_version_record.project_name %>: <%= @branch_version_record.branch_name %> - <%= @branch_version_record.sha %><h1>

<% git_dependencies = @branch_version_record.branch_dependency_records.select(&:git?) %>

<% out_of_date_dependencies = @branch_version_record.out_of_date_dependencies %>

<% if git_dependencies.any? %>
  <h2>Git</h2>
  <ul>
    <% git_dependencies.each do |dep| %>
      <li>
        <%= dep.name %> - <%= dep.revision %> <%= dep.branch %> <%= dep.version_constraint %> <%= dep.remote %>
        <% if out_of_date_dependencies.has_key?(dep.id) %>
          <br><strong>out of date: <%= out_of_date_dependencies[dep.id].head_version %> is current</strong>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<% branch_version_ruby_version_record = @branch_version_record.branch_version_ruby_version_record %>
<% if branch_version_ruby_version_record %>
  <h2>Derived Ruby Version Constraints</h2>
  <% if !branch_version_ruby_version_record.min_ruby_version_number.blank? %>
    <p>Min: <%= branch_version_ruby_version_record.min_ruby_version_number %></p>
    <p>From Gems:</p>
    <ul>
      <% branch_version_ruby_version_record.minimum_gems_for_version.each do |dgr| %>
        <li><%= dgr.name %> - <%= dgr.version %></li>
      <% end %>
    </ul>
  <% end %>
  <% if !branch_version_ruby_version_record.max_ruby_version_number.blank? %>
    <p>Max: <%= branch_version_ruby_version_record.max_ruby_version_number %></p>
    <p>From Gems:</p>
    <ul>
      <% branch_version_ruby_version_record.maximum_gems_for_version.each do |dgr| %>
        <li><%= dgr.name %> - <%= dgr.version %></li>
      <% end %>
    </ul>
  <% end %>
<% end %>

<% gem_dependencies = @branch_version_record.branch_dependency_records.select(&:gem?) %>
<% if gem_dependencies.any? %>
  <h2>Gems</h2>
  <ul>
    <% gem_dependencies.each do |dep| %>
      <li><%= dep.name %> - <%= dep.version_constraint %></li>
    <% end %>
  </ul>
<% end %>

</div>
